body {
    .externalcol {

        color: rgb(5, 94, 97);
        border: 1px solid;
        margin-right: 100px;
        border-radius: 25px;
        width: 500px;
    }

    .spanclass {
        border: 2px solid;
    }

    .no-account {
        font-weight: bold;
    }

    .main-container {
        text-align: center;
        width: 100%;
        max-width: 400px;
        margin: 50px auto;
        background-color: rgba(255, 255, 255, 0.6);
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .username{
        margin: 5px;
        padding: 5px;
    }
}